NuGet
Todoist
chromium
create-next-app-nodejs
dconf
discord
gtk-3.0
matplotlib
neofetch
nextjs-nodejs
notion-app
procps
pulse
spotify-tui
spotify
obsidian
systemd
gcloud
nvim/plugin/packer_compiled.lua 
