
# Ignore everything at root
/*

!.gitignore
!nvim/*
!waybar/*
!hypr/*
!tmux/*
!amethyst/*
!kitty/*
!alacritty/*

mozilla/**/*
Electron/**/*
discord/**/*
enchant/**/*
epiphany/**/*
evolution/**/*
geary/**/*
goa-1.0/**/*
ibus/**/*
opencode/**/*
pulse/**/*

.gsd-keyboard.settings-ported
gnome-initial-setup-done
dconf/
